1757

In [ ]:
import pandas as pd

def recyclable_and_low_fat_products(products: pd.DataFrame) -> pd.DataFrame:
    # Step 2: Filter the DataFrame for products that are both low fat and recyclable
    filtered_df = products[(products['low_fats'] == 'Y') & (products['recyclable'] == 'Y')]

    # Step 3: Extract the product_ids for the filtered products
    result = filtered_df[['product_id']]

    return result

# Example usage:
data = {
    'product_id': [1, 2, 3, 4, 5],
    'low_fats': ['Y', 'Y', 'N', 'Y', 'N'],
    'recyclable': ['Y', 'N', 'Y', 'Y', 'N']
}

df = pd.DataFrame(data)

result_df = recyclable_and_low_fat_products(df)
print(result_df)

   product_id
0           1
3           4

In [ ]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import col

# Define the schema for the DataFrame
schema = ["product_id", "low_fats", "recyclable"]

# Create a DataFrame from the sample data and schema
products_df = spark.createDataFrame(data, schema)

# Filter the DataFrame to include only products that are both low fat and recyclable
filtered_df = products_df.filter((col("low_fats") == "Y") & (col("recyclable") == "Y"))

# Select only the product_id column
result_df = filtered_df.select("product_id")

# Show the result
result_df.show()

595

In [ ]:
import pandas as pd

def big_countries(world: pd.DataFrame) -> pd.DataFrame:
    # Filter countries based on area and population conditions
    df_w = world[(world['area'] >= 3000000) | (world['population'] >= 25000000)]

    # Select only 'name', 'population', and 'area' columns
    results = df_w[['name', 'population', 'area']]

    return results

# Sample test data for the world DataFrame
data = {
    'name': ['United States', 'Canada', 'India', 'Australia', 'Brazil'],
    'population': [331002651, 38005238, 1380004385, 25499884, 212559417],
    'area': [9833520, 9984670, 3287263, 7692024, 8515767]
}

world_df = pd.DataFrame(data)

# Call the big_countries function with the sample test data
big_countries_result = big_countries(world_df)

# Print the filtered DataFrame containing information about big countries
print(big_countries_result)

            name  population     area
0  United States   331002651  9833520
1         Canada    38005238  9984670
2          India  1380004385  3287263
3      Australia    25499884  7692024
4         Brazil   212559417  8515767

1148

In [ ]:
import pandas as pd

def article_views_i(views: pd.DataFrame) -> pd.DataFrame:
    result = views[views['viewer_id'] == views['author_id']]['author_id'].drop_duplicates().sort_values()
    result = result.rename('id').reset_index(drop=True)
    result_df = pd.DataFrame(result)  # Convert Series to DataFrame
    return result_df

# Sample test data for the views DataFrame
data = {
    'viewer_id': [100, 200, 200, 300, 300, 400, 500],
    'author_id': [100, 100, 200, 300, 300, 500, 600]
}

views_df = pd.DataFrame(data)

# Call the article_views_i function with the sample test data
result_df = article_views_i(views_df)

# Print the resulting DataFrame containing the distinct author_ids who viewed their own articles
print(result_df)

    id
0  100
1  200
2  300

1683

In [ ]:
import pandas as pd

def invalid_tweets(tweets: pd.DataFrame) -> pd.DataFrame:
    df_tweet = tweets[tweets['content'].str.len() > 15]
    return df_tweet[['tweet_id']]

# Sample test data for the tweets DataFrame
data = {
    'tweet_id': [1, 2, 3, 4, 5, 6, 7],
    'content': [
        'This tweet has more than 15 characters.',
        'Short tweet.',
        'Another tweet with more than 15 characters.',
        'Short tweet.',
        'Yet another long tweet with more than 15 characters.',
        'One last short tweet.',
        'Long tweet number 7 with more than 15 characters.'
    ]
}

tweets_df = pd.DataFrame(data)

# Call the invalid_tweets function with the sample test data
result_df = invalid_tweets(tweets_df)

# Print the resulting DataFrame containing the tweet_ids of tweets with content length > 15
print(result_df)

   tweet_id
0         1
2         3
4         5
5         6
6         7