<a href="https://colab.research.google.com/github/sahana0007/sql50_python_leetcode/blob/main/PANDAS_1378.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

def replace_employee_id_with_the_unique_identifier(employees: pd.DataFrame, employee_uni: pd.DataFrame) -> pd.DataFrame:
    # Perform the left join on 'id' column
    result_df = employees.merge(employee_uni, on='id', how='left')

    # Select 'unique_id' and 'name' columns
    result_df = result_df[['unique_id', 'name']]

    return result_df

# Sample test data for the 'employees' DataFrame
employees_data = {
    'id': [1, 2, 3, 4, 5],
    'name': ['John', 'Emma', 'Michael', 'Sophia', 'William']
}

employees_df = pd.DataFrame(employees_data)

# Sample test data for the 'employee_uni' DataFrame
employee_uni_data = {
    'id': [2, 4],
    'unique_id': ['ABC123', 'XYZ789']
}

employee_uni_df = pd.DataFrame(employee_uni_data)

# Call the replace_employee_id_with_the_unique_identifier function with the sample test data
result_df = replace_employee_id_with_the_unique_identifier(employees_df, employee_uni_df)

# Print the resulting DataFrame after the left join
print(result_df)

  unique_id     name
0       NaN     John
1    ABC123     Emma
2       NaN  Michael
3    XYZ789   Sophia
4       NaN  William